<%- include ('partials/navbar') -%>

<div class="container">
    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= name %> </p>
    <a href="/todo" class="btn btn-dark">Task CRUD</a>
    <a href="/users/logout" class="btn btn-dark">Logout</a>
</div>