<%- include ('../partials/navbar') -%>
<div class="container">
    <h1 class="mt-4 text-center">TASK CRUD APPILICATION</h1>

    <div class="mt-4 d-flex justify-content-center">
      <form action="/todo/add" method="POST" >
        <div class="row g-2 ">
          <div class="col-auto">
            <label for="task" >
            <input type="task" class="form-control" id="task"name="task" placeholder="Task">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Add New Task</button>
          </div>
        </div>
      </form>
    </div>

      <table class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">Task to be completed</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
            <% for (var i =0; i < todo.length;  i++ ) { %>
                <tr>
                        <label type='hidden' for="" value="todo[i].task"></label>
                        <th  scope="row" colspan="2"><%= todo[i].task %></th> 
                        <td><a href="/todo/update/<%= todo[i]._id %>">
                          <button class="btn btn-primary">Update</button></a> 
                        </td>
                        <td> <a href="/todo/delete/<%= todo[i]._id %>">
                        <button class="btn btn-danger">Delete</button></a></td>
                </tr>
        <% } %>
          
        </tbody>
      </table>
    
</div>