<%- include ('../partials/navbar') -%>
<div class="container align-items-center justify-content-center">
  <h1>Task - II</h1>
  <div class="card border-secondary mb-3" style="max-width: 24rem;">
    <div class="card-header">Problem - I</div>
    <div class="card-body ">
      <p>Enter numbers seperated by space</p>
      <p id ="error" style="color: red;">Enter 2 or more numbers</p>
      <form class="row g-2">
        <div class="col-auto">
          <input type="text" class="form-control" id="array" placeholder="Enter array">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3" onclick="return onClick()">Submit</button>
        </div>
      </form>
      <div class="row g-2">
        <h5 class="col-auto">Solution :</h5>
        <p class="col-auto" id="hello"></p>
      </div>
    </div>
  </div>
</div>

  <style>
    #error{
        display:none;
    }
    .container{
      position: absolute;
      top : 33%;
      left : 36%;
    }
</style>
  <%- include ('../partials/footer') -%>